/.iasx
/.mixin.out
/.vscode
/armourers_workshop
/assets
/avaritiarecipemakeroutput.txt
/BotaniaVars.dat
/cachedImages
/crafttweaker.log
/crash-reports
/customnpcs
/CustomSkinLoader
/dumps
/ExtraBotanyVars.dat
/fixResource
/global.dat
/global.dat_old
/journeymap
/launcher_profiles.json
/libraries
/logs
/options.txt
/optionsof.txt
/patchouli_books
/patchouli_data.json
/PCL.ini
/resourcepacks
/saves
/screenshots
/shaderpacks
/usercache.json
/usernamecache.json
/versions