/.iasx
/.mixin.out
/.vscode
/armourers_workshop
/assets
/avaritiarecipemakeroutput.txt
/BotaniaVars.dat
/cachedImages
/crafttweaker.log
/crash-reports
/customnpcs
/CustomSkinLoader
/dumps
/ExtraBotanyVars.dat
/fixResource
/global.dat
/global.dat_old
/journeymap
/launcher_profiles.json
/libraries
/logs
/options.txt
/optionsof.txt
/patchouli_books
/patchouli_data.json
/PCL.ini
/resourcepacks
/saves
/screenshots
/shaderpacks
/usercache.json
/usernamecache.json
/versions
/optionsshaders.txt
/config/jei
/config/armourers_workshop
/config/jeresources
/config/ScalingGUIs
/config/smoothfont
/config/worldedit
/config/betterfps.json
/config/jeibees.cfg
/config/journeymap_ModInfo.cfg
/config/journeymap_server.cfg
/config/JustEnoughCharacters.cfg
/config/MouseTweaks.cfg
/config/topaddons_client.cfg
/config/wecui3.yml
/config/acronym
/config/splash.properties
/config/acronym/base/General.cfg
/config/AppliedEnergistics2/VersionChecker.cfg
config/igwmod.cfg
config/brandon3055/contributors.json
config/ctm.cfg
config/InvTweaks.cfg
config/InvTweaksRules.txt
config/InvTweaksTree.txt
config/vanillafix/config_version
config/HMSY.dat
mods/WorldEdit-CUI-FE3-1.12.2-3.0.9.jar
mods/worldedit-forge-mc1.12.2-6.1.10-dist.jar
mods/NBTEdit-1.12-2.0.2.jar
config/nbtedit.cfg
config/neenergistics/neenergistics.cfg
